USE [master]
GO
/****** Object:  Database [lt]    Script Date: 10/7/2023 11:26:09 PM ******/
CREATE DATABASE [lt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lt', FILENAME = N'D:\SQL nhaaa\MSSQL15.MSSQLSERVER\MSSQL\DATA\lt.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'lt_log', FILENAME = N'D:\SQL nhaaa\MSSQL15.MSSQLSERVER\MSSQL\DATA\lt_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lt]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 10/7/2023 11:26:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ID_Cl] [varchar](10) NOT NULL,
	[Name_Cl] [nvarchar](50) NULL,
	[ID_De] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Cl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deparment]    Script Date: 10/7/2023 11:26:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deparment](
	[ID_De] [varchar](10) NOT NULL,
	[Name_De] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_De] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GPA]    Script Date: 10/7/2023 11:26:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPA](
	[ID_St] [varchar](10) NOT NULL,
	[ID_Su] [varchar](10) NOT NULL,
	[Lanthi] [int] NOT NULL,
	[GPA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_St] ASC,
	[ID_Su] ASC,
	[Lanthi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[information]    Script Date: 10/7/2023 11:26:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[information](
	[ID_St] [varchar](10) NOT NULL,
	[Name_St] [nvarchar](30) NULL,
	[Date_St] [date] NULL,
	[Sex_St] [nvarchar](5) NULL,
	[Bor_St] [nvarchar](50) NULL,
	[ID_Cl] [varchar](10) NOT NULL,
	[ID_De] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_St] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subjectHP]    Script Date: 10/7/2023 11:26:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subjectHP](
	[ID_Su] [varchar](10) NOT NULL,
	[Name_Su] [nvarchar](50) NULL,
	[ID_De] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Su] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[information] ADD  DEFAULT (N'Nam') FOR [Sex_St]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD FOREIGN KEY([ID_De])
REFERENCES [dbo].[Deparment] ([ID_De])
GO
ALTER TABLE [dbo].[GPA]  WITH CHECK ADD FOREIGN KEY([ID_St])
REFERENCES [dbo].[information] ([ID_St])
GO
ALTER TABLE [dbo].[GPA]  WITH CHECK ADD FOREIGN KEY([ID_Su])
REFERENCES [dbo].[subjectHP] ([ID_Su])
GO
ALTER TABLE [dbo].[information]  WITH CHECK ADD FOREIGN KEY([ID_Cl])
REFERENCES [dbo].[Class] ([ID_Cl])
GO
ALTER TABLE [dbo].[information]  WITH CHECK ADD FOREIGN KEY([ID_De])
REFERENCES [dbo].[Deparment] ([ID_De])
GO
ALTER TABLE [dbo].[subjectHP]  WITH CHECK ADD FOREIGN KEY([ID_De])
REFERENCES [dbo].[Deparment] ([ID_De])
GO
USE [master]
GO
